.hero-intro-text {
  position: relative;
}

.hero-cta-btn {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 2rem;
  margin: 0;
  font-family: GuillonDemi,sans-serif;
  font-weight: 400;
  color: #fff;
  fill: #fff;
  border-radius: 8px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  max-width: 100%;
  border: 1px solid #ff7f66;
  background-color: #ff7f66;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
  font-size: 18px;
  letter-spacing: .3px;
  min-height: 60px;
  line-height: 58px;
  -webkit-appearance: button;
}